In [78]:
import pandas as pd
import numpy as np

In [79]:
all_dates = pd.date_range('1901/02/26', '2019/06/17')

In [82]:
all_dates_df = pd.DataFrame(all_dates)

In [83]:
all_dates_df.columns = ['Date']

In [84]:
all_dates_df['Month'] = all_dates_df.loc[:,'Date'].dt.month

In [85]:
month_dummies = pd.get_dummies(all_dates_df.Month)

In [86]:
month_dummies.columns = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July','Aug','Sep','Oct','Nov', 'Dec']

In [87]:
all_dates_df = all_dates_df.join(month_dummies)

In [88]:
all_dates_df['Quarter'] = all_dates_df.loc[:,'Date'].dt.quarter

In [89]:
quarter_dummies = pd.get_dummies(all_dates_df.Quarter)

In [90]:
quarter_dummies.columns = ['Q1', 'Q2', 'Q3','Q4']

In [91]:
all_dates_df = all_dates_df.join(quarter_dummies)

In [92]:
all_dates_df.drop(['Month','Quarter'], axis=1, inplace=True)

dtype('<M8[ns]')

In [96]:
merc = pd.read_csv("C:\\Users\\Minotaur142\\Documents\\merc.csv")

C:\Users\Minotaur142\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [100]:
merc.Date = pd.to_datetime(merc.Date)

In [128]:
merc_dates = pd.merge(all_dates_df, merc, on='Date', how='outer')

In [129]:
merc_dates = merc_dates.sort_values(by='Date')

In [132]:
merc_dates.Retrograde.fillna(method='ffill', inplace=True)

In [104]:
aviation = pd.read_table("C:\\Users\\Minotaur142\\Downloads\\AviationData.txt").iloc[:,-1]

C:\Users\Minotaur142\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [105]:
av_df = pd.DataFrame(aviation.str.split('|', expand=True))

In [106]:
av_df.drop(range(5,32), axis=1, inplace=True)

In [144]:
av_df.columns = ['Count', 'category', 'something', 'Date', 'location']

In [145]:
av_df.date = pd.to_datetime(av_df.Date)

In [146]:
av_df.head()

             Count    category     something       Date            location
0  20190617X21338    Accident    GAA19CA348  2019-06-16            FAI, AK
1  20190613X23420    Accident    GAA19CA340  2019-06-12      Cambridge, OH
2  20190617X25249    Accident    GAA19CA345  2019-06-10       Northway, AK
3  20190612X11535    Accident    GAA19CA338  2019-06-10   Independence, WI
4  20190612X22520    Accident    GAA19CA333  2019-06-09      Riverside, CA

In [147]:
av_counts = av_df.groupby(av_df.date).count().iloc[:,0]

In [148]:
merc_crash = pd.merge(merc_dates, av_counts, on='Date', how='outer')

In [149]:
merc_crash.Count.fillna(0, inplace=True)

In [150]:
merc_crash.head()

,Date,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,Q1,Q2,Q3,Q4,GMT,Retrograde,Count
0,1901-02-26,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12:09 PM,1.0,0.0
1,1901-02-27,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,1.0,0.0
2,1901-02-28,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,1.0,0.0
3,1901-03-01,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,1.0,0.0
4,1901-03-02,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,1.0,0.0