In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')

#### Get Average of Petal Length

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.petal_length.mean()

3.7586666666666693

#### Create new column "Petal Area"  and calculatue petals area (petal width * petal length)

In [6]:
df['petal_area'] = df['petal_length']*df['petal_width']

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa        0.28
1           4.9          3.0           1.4          0.2  setosa        0.28
2           4.7          3.2           1.3          0.2  setosa        0.26
3           4.6          3.1           1.5          0.2  setosa        0.30
4           5.0          3.6           1.4          0.2  setosa        0.28

#### Capitalize all species in species column

In [10]:
df.species = df.species.str.capitalize()
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  Setosa        0.28
1           4.9          3.0           1.4          0.2  Setosa        0.28
2           4.7          3.2           1.3          0.2  Setosa        0.26
3           4.6          3.1           1.5          0.2  Setosa        0.30
4           5.0          3.6           1.4          0.2  Setosa        0.28

#### Get the Average Sepal Length, Sepal Width, Petal Length, Petal Width of each species

In [11]:
df.groupby(df.species).sepal_length.mean()

species
Setosa        5.006
Versicolor    5.936
Virginica     6.588
Name: sepal_length, dtype: float64

In [12]:
df.groupby(df.species).sepal_width.mean()

species
Setosa        3.418
Versicolor    2.770
Virginica     2.974
Name: sepal_width, dtype: float64

In [13]:
df.groupby(df.species).petal_length.mean()

species
Setosa        1.464
Versicolor    4.260
Virginica     5.552
Name: petal_length, dtype: float64

In [14]:
df.groupby(df.species).petal_width.mean()

species
Setosa        0.244
Versicolor    1.326
Virginica     2.026
Name: petal_width, dtype: float64

In [19]:
df.groupby(df.species).mean().iloc[:,0:4]

            sepal_length  sepal_width  petal_length  petal_width
species
Setosa             5.006        3.418         1.464        0.244
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [18]:
df.groupby(df.species).

AttributeError: Cannot access callable attribute 'iloc' of 'DataFrameGroupBy' objects, try using the 'apply' method